In [1]:
import pandas as pd
import numpy as np

In [2]:
cn=['buying','maintenance','doors','persons','lug_boot','safety','class']

In [3]:
car=pd.read_csv('C:\\Users\\admin\\Downloads\\car.data',header=None,names=cn)

In [4]:
car

     buying maintenance  doors persons lug_boot safety  class
0     vhigh       vhigh      2       2    small    low  unacc
1     vhigh       vhigh      2       2    small    med  unacc
2     vhigh       vhigh      2       2    small   high  unacc
3     vhigh       vhigh      2       2      med    low  unacc
4     vhigh       vhigh      2       2      med    med  unacc
...     ...         ...    ...     ...      ...    ...    ...
1723    low         low  5more    more      med    med   good
1724    low         low  5more    more      med   high  vgood
1725    low         low  5more    more      big    low  unacc
1726    low         low  5more    more      big    med   good
1727    low         low  5more    more      big   high  vgood

[1728 rows x 7 columns]

In [5]:
car.info

<bound method DataFrame.info of      buying maintenance  doors persons lug_boot safety  class
0     vhigh       vhigh      2       2    small    low  unacc
1     vhigh       vhigh      2       2    small    med  unacc
2     vhigh       vhigh      2       2    small   high  unacc
3     vhigh       vhigh      2       2      med    low  unacc
4     vhigh       vhigh      2       2      med    med  unacc
...     ...         ...    ...     ...      ...    ...    ...
1723    low         low  5more    more      med    med   good
1724    low         low  5more    more      med   high  vgood
1725    low         low  5more    more      big    low  unacc
1726    low         low  5more    more      big    med   good
1727    low         low  5more    more      big   high  vgood

[1728 rows x 7 columns]>

In [6]:
# this is also one of the methods to store input 
x=car.drop('class',axis=1)

In [7]:
# same thing different method 
x=car.iloc[:,0:6]

In [8]:
x

     buying maintenance  doors persons lug_boot safety
0     vhigh       vhigh      2       2    small    low
1     vhigh       vhigh      2       2    small    med
2     vhigh       vhigh      2       2    small   high
3     vhigh       vhigh      2       2      med    low
4     vhigh       vhigh      2       2      med    med
...     ...         ...    ...     ...      ...    ...
1723    low         low  5more    more      med    med
1724    low         low  5more    more      med   high
1725    low         low  5more    more      big    low
1726    low         low  5more    more      big    med
1727    low         low  5more    more      big   high

[1728 rows x 6 columns]

In [22]:
y=car[['class']]  # using 2 brackets because x(input) is also dataframe

In [23]:
y

      class
0     unacc
1     unacc
2     unacc
3     unacc
4     unacc
...     ...
1723   good
1724  vgood
1725  unacc
1726   good
1727  vgood

[1728 rows x 1 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder

In [28]:
# in this dataset we dont have numerical data as knn works on distance formula so we will transform data into numerical

In [29]:
le=LabelEncoder()

In [35]:
#x1=le.fit_transform(x['buying']) but  it is giving us series output

In [36]:
# this how we can change the values into numeric values. by using label encoding
x[['buying','maintenance','doors','persons','lug_boot','safety']]=x[['buying','maintenance','doors','persons','lug_boot','safety']].apply(le.fit_transform)

C:\Users\admin\AppData\Local\Temp\ipykernel_5608\383963912.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[['buying','maintenance','doors','persons','lug_boot','safety']]=x[['buying','maintenance','doors','persons','lug_boot','safety']].apply(le.fit_transform)

In [37]:
x

      buying  maintenance  doors  persons  lug_boot  safety
0          3            3      0        0         2       1
1          3            3      0        0         2       2
2          3            3      0        0         2       0
3          3            3      0        0         1       1
4          3            3      0        0         1       2
...      ...          ...    ...      ...       ...     ...
1723       1            1      3        2         1       2
1724       1            1      3        2         1       0
1725       1            1      3        2         0       1
1726       1            1      3        2         0       2
1727       1            1      3        2         0       0

[1728 rows x 6 columns]

In [38]:
y=le.fit_transform(y)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:115: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [39]:
y # we have kept the datatype of y as series, we havent tried to change it.

array([2, 2, 2, ..., 2, 1, 3])

In [42]:
type(y)

numpy.ndarray

In [43]:
from sklearn.model_selection import train_test_split

In [66]:
# let us split the dataset into training and testing
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42)

In [67]:
x_train.shape

(1296, 6)

In [68]:
y_train.shape

(1296,)

In [69]:
x_test.shape

(432, 6)

In [70]:
y_test.shape

(432,)

In [65]:
#KNN 
from sklearn.neighbors import KNeighborsClassifier

In [71]:
# creating a model
knn=KNeighborsClassifier(n_neighbors=3)

In [73]:
# train the model
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [75]:
y_pred=knn.predict(x_test)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [81]:
y_pred

array([2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 0, 0,
       1, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 0,
       2, 0, 0, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 2, 3, 2, 2, 2, 3, 0, 2, 0,
       1, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 1, 0, 0, 2, 2, 0,
       2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 3, 0, 2, 0, 2, 2, 2,
       2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 0,
       0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2,
       2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2,
       2, 0, 2, 0, 0, 2, 2, 2, 0, 3, 0, 0, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2,
       2, 2, 3, 0, 0, 2, 2, 0, 0, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       0, 2, 0, 1, 2, 2, 3, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 0, 1, 0,
       2, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2,
       2, 2, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 3, 2, 0, 2, 2, 2, 2, 2, 3, 2,
       0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2])

In [76]:
y_test

array([2, 0, 2, 0, 2, 0, 2, 2, 2, 2, 3, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0,
       0, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 0, 1, 2, 2, 2, 2, 2, 0, 0,
       0, 3, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0, 3,
       2, 0, 0, 2, 2, 2, 2, 2, 0, 3, 2, 2, 2, 2, 3, 2, 2, 0, 3, 0, 2, 0,
       3, 0, 2, 1, 2, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 2, 0, 1, 0, 2, 2, 0,
       2, 2, 2, 2, 2, 0, 1, 2, 2, 2, 2, 1, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2,
       0, 2, 2, 0, 2, 3, 2, 2, 2, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 3, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 0, 3, 0, 2, 0, 2, 2, 0,
       2, 2, 2, 2, 0, 2, 2, 2, 1, 0, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 0,
       3, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2,
       2, 2, 0, 3, 2, 2, 2, 0, 2, 2, 3, 2, 2, 0, 0, 2, 0, 2, 0, 0, 2, 2,
       0, 1, 3, 0, 0, 2, 2, 2, 2, 3, 0, 0, 2, 2, 2, 2, 3, 2, 2, 2, 2, 0,
       2, 2, 3, 0, 0, 2, 2, 0, 0, 0, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2,
       2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0,
       2, 2, 0, 2, 2, 2, 3, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 0, 2, 0, 1, 0,
       2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 3, 2, 0, 2, 2, 0, 0, 2, 3, 2,
       0, 2, 1, 2, 0, 0, 2, 2, 2, 2, 0, 2, 1, 2])

In [77]:
# now to evaluate the performance of the model we use accuracy score

In [79]:
from sklearn.metrics import accuracy_score

In [82]:
acc=accuracy_score(y_pred,y_test)

In [83]:
acc

0.8472222222222222

In [84]:
import matplotlib.pyplot as plt

# Breast Cancer prediction

In [4]:
cn=['SampleCdN','Clumpthickness','Unicellsize','Unicellshape','Marginaladhe','Sin,epi,c,s','BareNuclie','Brandcrhopmtin','NorNuclie','Mitoses','Class']

In [5]:
cancer=pd.read_csv('C:\\Users\\admin\\Downloads\\breast-cancer-wisconsin.data',header=None,names=cn)

In [6]:
cancer

,SampleCdN,Clumpthickness,Unicellsize,Unicellshape,Marginaladhe,"Sin,epi,c,s",BareNuclie,Brandcrhopmtin,NorNuclie,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [10]:
cancer['BareNuclie'].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: BareNuclie, dtype: int64

In [15]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SampleCdN       683 non-null    int64
 1   Clumpthickness  683 non-null    int64
 2   Unicellsize     683 non-null    int64
 3   Unicellshape    683 non-null    int64
 4   Marginaladhe    683 non-null    int64
 5   Sin,epi,c,s     683 non-null    int64
 6   BareNuclie      683 non-null    object
 7   Brandcrhopmtin  683 non-null    int64
 8   NorNuclie       683 non-null    int64
 9   Mitoses         683 non-null    int64
 10  Class           683 non-null    int64
dtypes: int64(10), object(1)
memory usage: 64.0+ KB

In [8]:
cancer.notnull()

,SampleCdN,Clumpthickness,Unicellsize,Unicellshape,Marginaladhe,"Sin,epi,c,s",BareNuclie,Brandcrhopmtin,NorNuclie,Mitoses,Class
0,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...
694,True,True,True,True,True,True,True,True,True,True,True
695,True,True,True,True,True,True,True,True,True,True,True
696,True,True,True,True,True,True,True,True,True,True,True
697,True,True,True,True,True,True,True,True,True,True,True
698,True,True,True,True,True,True,True,True,True,True,True

In [14]:
cancer=cancer.drop(cancer.loc[cancer['BareNuclie']=='?'].index)

In [21]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SampleCdN       683 non-null    int64
 1   Clumpthickness  683 non-null    int64
 2   Unicellsize     683 non-null    int64
 3   Unicellshape    683 non-null    int64
 4   Marginaladhe    683 non-null    int64
 5   Sin,epi,c,s     683 non-null    int64
 6   BareNuclie      683 non-null    object
 7   Brandcrhopmtin  683 non-null    int64
 8   NorNuclie       683 non-null    int64
 9   Mitoses         683 non-null    int64
 10  Class           683 non-null    int64
dtypes: int64(10), object(1)
memory usage: 64.0+ KB

In [22]:
cancer['BareNuclie'].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
9       9
7       8
6       4
Name: BareNuclie, dtype: int64

In [23]:
cancer.isnull().any()

SampleCdN         False
Clumpthickness    False
Unicellsize       False
Unicellshape      False
Marginaladhe      False
Sin,epi,c,s       False
BareNuclie        False
Brandcrhopmtin    False
NorNuclie         False
Mitoses           False
Class             False
dtype: bool

In [24]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SampleCdN       683 non-null    int64
 1   Clumpthickness  683 non-null    int64
 2   Unicellsize     683 non-null    int64
 3   Unicellshape    683 non-null    int64
 4   Marginaladhe    683 non-null    int64
 5   Sin,epi,c,s     683 non-null    int64
 6   BareNuclie      683 non-null    object
 7   Brandcrhopmtin  683 non-null    int64
 8   NorNuclie       683 non-null    int64
 9   Mitoses         683 non-null    int64
 10  Class           683 non-null    int64
dtypes: int64(10), object(1)
memory usage: 64.0+ KB

In [25]:
cancer.tail(100)

,SampleCdN,Clumpthickness,Unicellsize,Unicellshape,Marginaladhe,"Sin,epi,c,s",BareNuclie,Brandcrhopmtin,NorNuclie,Mitoses,Class
598,1333495,3,1,1,1,2,1,2,1,1,2
599,1334659,5,2,4,1,1,1,1,1,1,2
600,1336798,3,1,1,1,2,1,2,1,1,2
601,1344449,1,1,1,1,1,1,2,1,1,2
602,1350568,4,1,1,1,2,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [26]:
x=cancer.iloc[:,1:10]

In [27]:
x

,Clumpthickness,Unicellsize,Unicellshape,Marginaladhe,"Sin,epi,c,s",BareNuclie,Brandcrhopmtin,NorNuclie,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1
...,...,...,...,...,...,...,...,...,...
694,3,1,1,1,3,2,1,1,1
695,2,1,1,1,2,1,1,1,1
696,5,10,10,3,7,3,8,10,2
697,4,8,6,4,3,4,10,6,1
698,4,8,8,5,4,5,10,4,1

In [28]:
type(x)

pandas.core.frame.DataFrame

In [29]:
y=cancer[['Class']]

In [30]:
y

     Class
0        2
1        2
2        2
3        2
4        2
..     ...
694      2
695      2
696      4
697      4
698      4

[683 rows x 1 columns]

In [31]:
type(y)

pandas.core.frame.DataFrame

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
# splitting the dataset into training and testing
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

In [36]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 512 entries, 571 to 574
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Clumpthickness  512 non-null    int64
 1   Unicellsize     512 non-null    int64
 2   Unicellshape    512 non-null    int64
 3   Marginaladhe    512 non-null    int64
 4   Sin,epi,c,s     512 non-null    int64
 5   BareNuclie      512 non-null    object
 6   Brandcrhopmtin  512 non-null    int64
 7   NorNuclie       512 non-null    int64
 8   Mitoses         512 non-null    int64
dtypes: int64(8), object(1)
memory usage: 40.0+ KB

In [37]:
y_train

     Class
571      4
68       4
586      4
311      2
369      2
..     ...
9        2
373      2
198      2
645      2
574      4

[512 rows x 1 columns]

In [38]:
x_test.shape

(171, 9)

In [39]:
y_test.shape

(171, 1)

In [40]:
from sklearn.neighbors import KNeighborsClassifier

In [41]:
# creating a model
knc=KNeighborsClassifier(n_neighbors=6)

In [42]:
# training the model
knc.fit(x_train,y_train)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=6)

In [43]:
y_pred=knc.predict(x_test)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [45]:
x_test

,Clumpthickness,Unicellsize,Unicellshape,Marginaladhe,"Sin,epi,c,s",BareNuclie,Brandcrhopmtin,NorNuclie,Mitoses
115,1,1,1,1,2,5,1,1,1
392,3,1,1,1,2,1,2,1,1
316,5,5,5,2,5,10,4,3,1
519,4,7,8,3,4,10,9,1,1
313,1,1,1,1,2,1,1,1,1
...,...,...,...,...,...,...,...,...,...
458,5,1,2,1,2,1,1,1,1
165,4,1,1,1,2,2,3,2,1
331,5,1,1,1,2,1,3,1,2
80,2,2,2,1,1,1,7,1,1
94,2,1,1,1,2,1,3,1,1

In [46]:
from sklearn.metrics import accuracy_score

In [47]:
acc=accuracy_score(y_pred,y_test)

In [48]:
acc

0.9415204678362573